@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");

@mixin transition($what){
	-webkit-transition: $what;
	-moz-transition: $what;
	-o-transition: $what;
	transition: $what;
}

@mixin transform($what){
	-webkit-transform: $what;
	-moz-transform: $what;
	-o-transform: $what;
	transform: $what;
}

@font-face {
    font-family: 'u39';
    src: url('../type/u39/276103_0_0.eot');
    src: url('../type/u39/276103_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u39/276103_0_0.woff') format('woff'),
         url('../type/u39/276103_0_0.ttf') format('truetype'),
         url('../type/u39/276103_0_0.svg#wf') format('svg');
}

@font-face {
    font-family: 'u47';
    src: url('../type/u47/2760F4_0_0.eot');
    src: url('../type/u47/2760F4_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u47/2760F4_0_0.woff') format('woff'),
         url('../type/u47/2760F4_0_0.ttf') format('truetype'),
         url('../type/u47/2760F4_0_0.svg#wf') format('svg');
}

@font-face {
    font-family: 'u67';
    src: url('../type/u67/276103_1_0.eot');
    src: url('../type/u67/276103_1_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u67/276103_1_0.woff') format('woff'),
         url('../type/u67/276103_1_0.ttf') format('truetype'),
         url('../type/u67/276103_1_0.svg#wf') format('svg');
}

@font-face {
    font-family: 'liberation';
    src: url('../type/liberation/LiberationMono-Regular-webfont.eot');
    src: url('../type/liberation/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/liberation/LiberationMono-Regular-webfont.woff') format('woff'),
         url('../type/liberation/LiberationMono-Regular-webfont.ttf') format('truetype'),
         url('../type/liberation/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//DEFINES
$masterwidth: 1024px;
// $dark: #00002A;
$dark: #171C36;
$lauftext:georgia;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body{
	margin:0px;
	background-color:$dark;
}

p{letter-spacing:.2px;}

a img{border:none;}

a{
	border-top:none;
	border-left:none;
	border-right:none;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	font-family:u47;
	font-weight:normal;
}

h1{
	line-height: 1em;
}

h2, h3, h4, h5, h6{
	line-height: 1.4em;
}

pre{
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
	padding:10px;
	border-radius:5px;
	code{
		overflow-x:scroll;
		font-family:liberation;
		font-size:12px;
	}
}

#master{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
}

#left, #right{
	height:100%;
	position:absolute;
}

#left{
	left:0px;
	padding-top:189px;
	#syringe, #name{
		position:absolute;
		z-index: 300;
	}
	#syringe{
		width:126px;
		height:126px;
		cursor:pointer;
		div{
			position: absolute;
			height:100%;
			width:100%;
			background-size: 200%;
			background-image:url(../img/syringe.svg);
			background-repeat:no-repeat;

			// background-position: center center;
		}
		.dark{background-position:0% center;}
		.light{background-position:100% center;}
	}
	#name{
		width:126px;
		height:126px;
		margin:-63px 0px 0px -63px;
		display:table;
		h1{
			font-family:u39;
			font-size:43px;
			font-weight:normal;
			line-height:0px;
			display:table-cell;
			text-align: center;
			padding:66px 0px;
		}
	}
	#title{
		width:100%;
		height:0px;
		padding:0px 10%;
		position: relative;
		overflow:scroll;
		div{
			width:100%;
			position:relative;
			float:left;
			cursor:pointer;
			span, h2{
				position:relative;
				float:left;
			}
			span{
				font-family:u47;
				font-size:12px;
				width:20%;
				margin:12.5px 0px;
			}
			h2{
				font-family:u67;
				font-size:15px;
				font-weight:normal;
				margin:8px 0px;
				padding-left:10px;
				width:80%;
			}
		}
		&:before, &:after{ display: none; }
	}
}

#switch{
	height:5px;
	width:10px;
	position:absolute;
	bottom:0px;
	margin-left:-5px;
	z-index:1000;

	.target{
		height:50px;
		width:50px;
		position: absolute;
		top:-45px;
		left:50%;
		margin-left:-25px;
		cursor: pointer;
		z-index:1000;
	}

	.colour{
		height:5px;
		width:5px;
		position: absolute;
		top:0px;
	}

	.left{left:0px;}
	.right{right:0px;}
}

#right{
	right:0px;
	font-family:$lauftext;
	overflow-y:scroll;
	overflow-x:hidden;

	.content{
		position:relative;
		width: 600px;
		margin-left:-300px;
		left:50%;
		padding: 63px 0 50px;
		line-height: 1.65em;
		opacity:0;
		min-height: 100%;
		margin-bottom: -150px;

		&:after{
			content:'';
			display: block;
			height:150px;
		}

		div{
			position:relative;
			float:left;
			padding-bottom:10px;
			width: 400%;
			margin: 0px -100% 41px;
			padding: 0px 200% 15px 100%;
			h1{
				padding-right:65px;
			}
			h5{
				position: absolute;
				right: 50%;
				bottom: 16px;
			}
		}
	}
	textarea{
		display:none;
		position:relative;
		opacity:0;
		font-family:liberation, monospace;
		font-size: 18px;
		resize: none;
		padding:0px;
		line-height: 1.5em;
		border:0px;
		&:focus{outline: none;}
	}
	#titleedit{
		height: 79px;
		width: 28%;
		margin: 55px 0px;
		float: left;
	}
	#postedit{
		margin:0 auto -190px;
		width:100%;
		height:100%;
		padding: 19px 0px 0px 0px;
    	font-size: 15px;
	}

	#articleNav{
		position: relative;
		left:0px;
		width:100%;
		opacity:0;
		display: none;

		&.false {
			#prev,
			#next{
				display:none;
			}
			#back{
				display:block;
			}
		}

		&.first{
			#prev{ display:none; }
		}

		&.last{
			#next{ display:none; }
		}

		&:before,
		&:after{
			content: '';
			position: absolute;
			left:50%;
			top:0px;
			z-index: 100;
		}

		&:before{
			height:30px;
			width:30px;
			margin:-15px 0 0 -15px;
		}

		&:after{
			height:10px;
			width:10px;
			margin:-5px 0 0 -5px;
			border-radius: 0;
			@include transform(rotate(45deg));
		}

		&:hover:after{
			border-radius: 10px;
		}

		.articleNavInside{
			width:600px;
			height:100px;
			position: relative;
			margin: auto;
			padding-top: 50px;
			margin-bottom: 50px;
		}

		#prev,
		#next,
		#back{
			position: relative;
			height:50px;
			width:50px;
			background-size:100px 50px;
			cursor: pointer;
			display: block;

			&:before,
			&:after{
				position: absolute;
				height:20px;
				top:15px;
				font-style:italic;
			}
		}

		#prev{
			float: left;
			background-position:0px 0px;

			&:after{
				content:'previous';
				left:50px;
			}
		}

		#next{
			float: right;
			background-position: 50px 0px;

			&:before{
				content:'next';
				right:50px;
			}
		}

		#back{
			display:none;
			margin:auto;
			background-position:0px 0px;

			&:after{
				content:'back';
				left:50px;
			}
		}
	}
}

.edit{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	height:189px;
	width:100%;
	z-index:200;
}


.wait{
	#syringe, #name{opacity:0;}
	#title{
		top:100% !important;
		float:left;
	}
}

.go *, .go *:before, .go *:after{
	-webkit-transition: all .2s cubic-bezier(0, 0.51, 0.51, 1.02);
	-moz-transition: all .2s cubic-bezier(0, 0.51, 0.51, 1.02);
	-o-transition: all .2s cubic-bezier(0, 0.51, 0.51, 1.02);
	transition: all .2s cubic-bezier(0, 0.51, 0.51, 1.02);

	-webkit-transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	transition-delay: 0s !important;
}

.start#title{
	opacity:0;
	height:0px;
}

.start{
	#left, #right{width:50%;}
	#left{
		#syringe{
			top:50%;
			left:50%;
			margin:-63px 0px 0px -63px;
		}
		#name{
			top:50%;
			left:150%;
			cursor:pointer;
		}
		#title{
			opacity:0;
			top: 50%;
		}

		&.open{
			#syringe{ top:95px; }
			#title{
				height:100%;
				top:0px;
				opacity:1;
			}
		}
	}
	#switch{left:50%;}
}

.read{
	#left{
		width:30%;

		#syringe{
			top:95px;
			width:15%;
			left:9%;
			margin:-63px 0px 0px 0px !important;
		}

		#name{
			top:95px;
			left:80%;
			opacity:0;
			z-index:0;
			@include transform(translateX(20px));
		}

		#title{
			margin-top:0px !important;
			top: 0px;
			height:100%;
			opacity:0;
			@include transform(translateX(20px));
		}

		&:hover{
			& ~ #right{
				// right:-20%;
				width: 70%;
			}

			& ~ #switch{ left:30%; }

			#syringe{
				width: 126px;
				left:10%;
			}

			#name, #title{
				opacity:1;
				@include transform(translateX(0px));
			}
		}
	}
	#switch{left:10%;}
	#right{
		width:90%;
		.ready{opacity:1;}
		.ready ~ #articleNav{
			opacity: 1;
			display: block;
		}
	}
}

.whiteblack{
	#left{
		background-color:white;
		color:$dark;
		#syringe{
			.dark{opacity:1;}
			.light{opacity:0;}
		}
		#title{
			*{color:$dark;}
			&:before{ opacity:1; }
			&:after{ opacity:0; }
			&.open{
				&:before{ opacity:0; }
				&:after{ opacity:1; }
			}
		}

		::selection {
			background-color:lighten($dark, 7.5%);
			color:white;
		}

		::-moz-selection {
			background-color:lighten($dark, 7.5%);
			color:white;
		}
	}

	#switch{
		.left{background-color:$dark;}
		.right{background-color:white;}
	}

	#right{
		background-color:$dark;
		color:white;
		*{color:white;}
		a{
			border-bottom:1px white dotted;
		}
		.content{
			div{ border-bottom:1px white solid; }
			pre{
				background-color:white;
				code{color:$dark;}
			}
		}

		::selection {
			background-color:white;
			color:$dark;
		}

		::-moz-selection {
			background-color:white;
			color:$dark;
		}

		.articleNavInside{
			border-top: 1px white dashed;
		}

		#articleNav{
			&:before{ background-color: $dark; }
			&:after{ background-color: white; }

			#prev, #next, #back{
				background-image:url(../img/arrows_light.png);
				&:before, &:after{ color:white; }
			}
		}

	}

	&.wait #title{color:white;}
	&.start #left #name h1{color:white;}
	&.read #left #name h1{color:$dark;}

	&.editing{
		#left{
			#name h1{color:white !important;}
			.edit{background-color:$dark;}
			#syringe{
				.dark{opacity:0;}
				.light{opacity:1;}
			}
		}
		#right{
			.edit{
				background-color:white;
				#trial, #titleedit{color:$dark;}
				.control{
					&>div{
						&>div:nth-of-type(1){opacity:1;}
						&>div:nth-of-type(2){opacity:0;}
					}
					p{color:$dark;}
				}
				&:nth-of-type(1){display:block;}
				&:nth-of-type(2){display:none;}
			}
			#postedit{background-color:$dark;}
		}
	}
}

.blackwhite{
	#left{
		background-color:$dark;
		color:white;
		#syringe{
			.dark{opacity:0;}
			.light{opacity:1;}
		}
		#title{
			*{color:white;}
			&:before{ opacity:0; }
			&:after{ opacity:1; }
			&.open{
				&:before{ opacity:1; }
				&:after{ opacity:0; }
			}
		}

		::selection {
			background-color:white;
			color:$dark;
		}

		::-moz-selection {
			background-color:white;
			color:$dark;
		}
	}

	#switch{
		.left{background-color:white;}
		.right{background-color:$dark;}
	}

	#right{
		background-color:white;
		color:$dark;
		*{color:$dark;}
		a{
			border-bottom:1px $dark dotted;
		}
		.content{
			div{ border-bottom:1px $dark solid; }
			pre{
				background-color:$dark;
				code{color:white;}
			}
		}

		::selection {
			background-color:lighten($dark, 7.5%);
			color:white;
		}

		::-moz-selection {
			background-color:lighten($dark, 7.5%);
			color:white;
		}

		.articleNavInside{
			border-top: 1px $dark dashed;
		}

		#articleNav{
			&:before{ background-color: white; }
			&:after{ background-color: $dark; }

			#prev, #next, #back{
				background-image:url(../img/arrows_dark.png);
				&:before, &:after{ color:$dark; }
			}
		}

	}

	&.wait #title{color:$dark;}
	&.start #left #name h1{color:$dark;}
	&.read #left #name h1{color:white;}

	&.editing{
		#left{
			#name h1{color:$dark !important;}
			.edit{background-color:white;}
			#syringe{
				.dark{opacity:1;}
				.light{opacity:0;}
			}
		}
		#right{
			.edit{
				background-color:$dark;
				#trial, #titleedit{
					color:white;
					background-color:$dark;
				}
				.control{
					&>div{
						&>div:nth-of-type(1){opacity:0;}
						&>div:nth-of-type(2){opacity:1;}
					}
					p{color:white;}
				}

			}
			#postedit{background-color:white;}
		}
	}
}

.editing{
	.edit{display:block !important;}

	#right{
		.content{
			padding:190px 0 0px;
			height:100%;
		}
		.edit{
			#trial, .control{
				width:100%;
				position:relative;
				padding:0px 15%;
				height:100%;
			}
			#trial{
				font-family:u39;
				font-size: 51px;
				border: 0px;
				margin: auto;
				display: block;
				outline: 0px !important;
				padding: 64px 15%;
			}
			.control{
				display:none;
				&>div{
					width:65px;
					height:65px;
					position:relative;
					float:left;
					margin: 60px 20px 60px 0px;
					cursor:pointer;
					overflow:hidden;
					&>div{
						position: absolute;
						height:100%;
						width:200%;
						top:0px;
						background-size:100%;
						background-image:url(../img/edit.svg);
						&:nth-of-type(1){left:0px;}
						&:nth-of-type(2){left:-100%;}
					}
					p{
						opacity:0;
						text-align: center;
						font-family:$lauftext;
						font-style:italic;
						font-size:10px;
					}
				}
				#save div{   background-position:0 -0*100%; }
				#new div{    background-position:0 -1*100%; }
				#delete div{ background-position:0 -2*100%; }
				#return div{ background-position:0 -3*100%; }

				.really p{ opacity:1; }
			}
		}
		#articleNav{
			display:none !important;
		}
	}
}

.nowediting{
	textarea{
		display:block !important;
		opacity:1 !important;
	}
}


@media only screen and (max-width: 725px) /*IPAD*/ {
	.read #left{
		width:50%;

		#syringe{
			width:14%;
			left:3%;
		}

		#title div{
			span{ width:30%; }
			h2{ width:70%; }
		}

		&:hover{
			& ~ #right{
				right:-40%;
			}

			& ~ #switch{ left:50%; }
		}
	}
	#right{
		.content{
			width:400px;
			margin-left:-200px;
		}
		#trial, .control{padding:0px 20px !important;}
		#titleedit{width:32%;}
		#articleNav .articleNavInside{ width:400px; }
	}
}

@media only screen and (max-width: 480px) /*IPHONE*/{
	#left, #right{ width:100% !important; }
	#switch{
		left:initial !important;
		right:0px;
		bottom:initial;
		width:5px;
		height:10px;
		margin:-5px 0px 0px;

		.target{
			top:50%;
			left:initial;
			right:0px;
			margin:-25px 0px 0px;
		}

		.colour{ left:0px; }

		.left{top:0px;}
		.right{top:5px;}
	}
	.start{
		#left, #right{ height:50%; }
		#left #name{
			top:150%;
			left:50%;
		}
		#switch{top:50%;}

		#right{ top:50%; }
	}

	.read{
		#left{
			height:300px;
			padding-top:0px;
			#syringe, #name{
				width:80px !important;
				height:80px !important;
				left:50% !important;
				margin:0px 0px 0px -40px !important;
			}
			#syringe{ top:20px; }
			#name{
				@include transform(translateX(0));
				top:100px;
				opacity:1;
			}
			#title{
				top:215px !important;
				padding-top:70px;
				@include transform(translateX(0));
				opacity:1;

				&:before, &:after{
					display:block;
					content:'';
					height:60px;
					width:60px;
					position: absolute;
					top:0px;
					left:50%;
					margin-left:-30px;
					border-radius:60px;
					background-size: 200%;
					background-image:url(../img/menu.svg);
				}

				&:before{
					background-position:0px 0px;
					background-color:white;
				}
				&:after{
					background-position:100% 0px;
					background-color:$dark;
				}

				div{
					display:none;
				}

				&.open{
					height:initial !important;
					margin:0px !important;

					div{ display:block; }
				}
			}

			&:hover{
				& ~ #right{
					width:100%;
					right:0%;
				}
			}
		}
		#switch{ top:300px; }
		#right{
			height:auto;
			top:300px;
			overflow-y:visible;
			.content{
				position: relative;
				right:0;
				left:0;
				margin:0;
				width:100%;
				padding:22px 20px 50px;
				min-height:500px;

				// div h5{
				// 	bottom:16px;
				// }
			}
			#articleNav{
				padding:0 20px;
				.articleNavInside{ width:100%; }
			}
		}
	}
}

@-moz-document url-prefix() {}

.ie{}

.ie8{}

.ie7{}

.ie6{}
