@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");
@font-face {
  font-family: 'u39';
  src: url("../type/u39/276103_0_0.eot");
  src: url("../type/u39/276103_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u39/276103_0_0.woff") format("woff"), url("../type/u39/276103_0_0.ttf") format("truetype"), url("../type/u39/276103_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u47';
  src: url("../type/u47/2760F4_0_0.eot");
  src: url("../type/u47/2760F4_0_0.eot?#iefix") format("embedded-opentype"), url("../type/u47/2760F4_0_0.woff") format("woff"), url("../type/u47/2760F4_0_0.ttf") format("truetype"), url("../type/u47/2760F4_0_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'u67';
  src: url("../type/u67/276103_1_0.eot");
  src: url("../type/u67/276103_1_0.eot?#iefix") format("embedded-opentype"), url("../type/u67/276103_1_0.woff") format("woff"), url("../type/u67/276103_1_0.ttf") format("truetype"), url("../type/u67/276103_1_0.svg#wf") format("svg"); }

@font-face {
  font-family: 'liberation';
  src: url("../type/liberation/LiberationMono-Regular-webfont.eot");
  src: url("../type/liberation/LiberationMono-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/liberation/LiberationMono-Regular-webfont.woff") format("woff"), url("../type/liberation/LiberationMono-Regular-webfont.ttf") format("truetype"), url("../type/liberation/LiberationMono-Regular-webfont.svg#liberation_monoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

body {
  margin: 0px;
  background-color: #171c36; }

p {
  letter-spacing: .2px; }

a img {
  border: none; }

a {
  border-top: none;
  border-left: none;
  border-right: none;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: u47;
  font-weight: normal;
  line-height: 1em; }

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  padding: 10px;
  border-radius: 5px; }
  pre code {
    overflow-x: scroll;
    font-family: liberation;
    font-size: 12px; }

#master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px; }

#left, #right {
  height: 100%;
  position: absolute; }

#left {
  left: 0px;
  padding-top: 189px; }
  #left #syringe, #left #name {
    position: absolute;
    z-index: 300; }
  #left #syringe {
    width: 126px;
    height: 126px;
    cursor: pointer; }
    #left #syringe div {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: 200%;
      background-image: url(../img/syringe.svg);
      background-repeat: no-repeat; }
    #left #syringe .dark {
      background-position: 0% center; }
    #left #syringe .light {
      background-position: 100% center; }
  #left #name {
    width: 126px;
    height: 126px;
    margin: -63px 0px 0px -63px;
    display: table; }
    #left #name h1 {
      font-family: u39;
      font-size: 43px;
      font-weight: normal;
      line-height: 0px;
      display: table-cell;
      text-align: center;
      padding: 66px 0px; }
  #left #title {
    width: 100%;
    height: 0px;
    padding: 0px 10%;
    position: relative;
    overflow: scroll; }
    #left #title div {
      width: 100%;
      position: relative;
      float: left;
      cursor: pointer; }
      #left #title div span, #left #title div h2 {
        position: relative;
        float: left; }
      #left #title div span {
        font-family: u47;
        font-size: 12px;
        width: 20%;
        margin: 12.5px 0px; }
      #left #title div h2 {
        font-family: u67;
        font-size: 15px;
        font-weight: normal;
        margin: 10px 0px;
        width: 80%; }
    #left #title:before, #left #title:after {
      display: none; }

#switch {
  height: 5px;
  width: 10px;
  position: absolute;
  bottom: 0px;
  margin-left: -5px;
  z-index: 1000; }
  #switch .target {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    z-index: 1000; }
  #switch .colour {
    height: 5px;
    width: 5px;
    position: absolute;
    top: 0px; }
  #switch .left {
    left: 0px; }
  #switch .right {
    right: 0px; }

#right {
  right: 0px;
  font-family: georgia; }
  #right .content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 63px 15% 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1.5em;
    opacity: 0; }
    #right .content div {
      position: relative;
      float: left;
      padding-bottom: 10px;
      width: 143%;
      margin: 0px -21.5% 41px;
      padding: 0px 21.25% 15px; }
      #right .content div h1 {
        padding-right: 65px; }
      #right .content div h5 {
        position: absolute;
        right: 15%;
        bottom: 19px; }
  #right textarea {
    display: none;
    position: relative;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: liberation, monospace;
    font-size: 18px;
    resize: none;
    padding: 0px;
    line-height: 1.5em;
    border: 0px; }
    #right textarea:focus {
      outline: none; }
  #right #titleedit {
    height: 79px;
    width: 28%;
    margin: 55px 0px;
    float: left; }
  #right #postedit {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 19px 0px 0px 0px;
    font-size: 15px; }

.edit {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 189px;
  width: 100%;
  z-index: 200; }

.wait #syringe, .wait #name {
  opacity: 0; }
.wait #title {
  top: 100% !important;
  float: left; }

.go *, .go *:before, .go *:after {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transition-delay: 0s !important;
  -moz-transition-delay: 0s !important;
  -o-transition-delay: 0s !important;
  transition-delay: 0s !important; }

.start#title {
  opacity: 0;
  height: 0px; }

.start #left, .start #right {
  width: 50%; }
.start #left #syringe {
  top: 50%;
  left: 50%;
  margin: -63px 0px 0px -63px; }
.start #left #name {
  top: 50%;
  left: 150%;
  cursor: pointer; }
.start #left #title {
  opacity: 0;
  top: 50%; }
.start #left.open #syringe {
  top: 95px; }
.start #left.open #title {
  height: 100%;
  top: 0px;
  opacity: 1; }
.start #switch {
  left: 50%; }

.read #left {
  width: 33.333333%; }
  .read #left #syringe {
    top: 95px;
    left: 10%;
    margin: -63px 0px 0px 0px !important; }
  .read #left #name {
    top: 95px;
    left: 75%; }
  .read #left #title {
    margin-top: 0px !important;
    top: 0px;
    height: 100%; }
.read #switch {
  left: 33.333333%; }
.read #right {
  width: 66.666666%; }
  .read #right .ready {
    opacity: 1; }

.whiteblack #left {
  background-color: white;
  color: #171c36; }
  .whiteblack #left #syringe .dark {
    opacity: 1; }
  .whiteblack #left #syringe .light {
    opacity: 0; }
  .whiteblack #left #title * {
    color: #171c36; }
  .whiteblack #left #title:before {
    opacity: 1; }
  .whiteblack #left #title:after {
    opacity: 0; }
  .whiteblack #left #title.open:before {
    opacity: 0; }
  .whiteblack #left #title.open:after {
    opacity: 1; }
  .whiteblack #left ::selection {
    background-color: #222a51;
    color: white; }
  .whiteblack #left ::-moz-selection {
    background-color: #222a51;
    color: white; }
.whiteblack #switch .left {
  background-color: #171c36; }
.whiteblack #switch .right {
  background-color: white; }
.whiteblack #right {
  background-color: #171c36;
  color: white; }
  .whiteblack #right * {
    color: white; }
  .whiteblack #right a {
    border-bottom: 1px white dotted; }
  .whiteblack #right .content div {
    border-bottom: 1px white solid; }
  .whiteblack #right .content pre {
    background-color: white; }
    .whiteblack #right .content pre code {
      color: #171c36; }
  .whiteblack #right ::selection {
    background-color: white;
    color: #171c36; }
  .whiteblack #right ::-moz-selection {
    background-color: white;
    color: #171c36; }
.whiteblack.wait #title {
  color: white; }
.whiteblack.start #left #name h1 {
  color: white; }
.whiteblack.read #left #name h1 {
  color: #171c36; }
.whiteblack.editing #left #name h1 {
  color: white !important; }
.whiteblack.editing #left .edit {
  background-color: #171c36; }
.whiteblack.editing #left #syringe .dark {
  opacity: 0; }
.whiteblack.editing #left #syringe .light {
  opacity: 1; }
.whiteblack.editing #right .edit {
  background-color: white; }
  .whiteblack.editing #right .edit #trial, .whiteblack.editing #right .edit #titleedit {
    color: #171c36; }
  .whiteblack.editing #right .edit .control > div > div:nth-of-type(1) {
    opacity: 1; }
  .whiteblack.editing #right .edit .control > div > div:nth-of-type(2) {
    opacity: 0; }
  .whiteblack.editing #right .edit .control p {
    color: #171c36; }
  .whiteblack.editing #right .edit:nth-of-type(1) {
    display: block; }
  .whiteblack.editing #right .edit:nth-of-type(2) {
    display: none; }
.whiteblack.editing #right #postedit {
  background-color: #171c36; }

.blackwhite #left {
  background-color: #171c36;
  color: white; }
  .blackwhite #left #syringe .dark {
    opacity: 0; }
  .blackwhite #left #syringe .light {
    opacity: 1; }
  .blackwhite #left #title * {
    color: white; }
  .blackwhite #left #title:before {
    opacity: 0; }
  .blackwhite #left #title:after {
    opacity: 1; }
  .blackwhite #left #title.open:before {
    opacity: 1; }
  .blackwhite #left #title.open:after {
    opacity: 0; }
  .blackwhite #left ::selection {
    background-color: white;
    color: #171c36; }
  .blackwhite #left ::-moz-selection {
    background-color: white;
    color: #171c36; }
.blackwhite #switch .left {
  background-color: white; }
.blackwhite #switch .right {
  background-color: #171c36; }
.blackwhite #right {
  background-color: white;
  color: #171c36; }
  .blackwhite #right * {
    color: #171c36; }
  .blackwhite #right a {
    border-bottom: 1px #171c36 dotted; }
  .blackwhite #right .content div {
    border-bottom: 1px #171c36 solid; }
  .blackwhite #right .content pre {
    background-color: #171c36; }
    .blackwhite #right .content pre code {
      color: white; }
  .blackwhite #right ::selection {
    background-color: #222a51;
    color: white; }
  .blackwhite #right ::-moz-selection {
    background-color: #222a51;
    color: white; }
.blackwhite.wait #title {
  color: #171c36; }
.blackwhite.start #left #name h1 {
  color: #171c36; }
.blackwhite.read #left #name h1 {
  color: white; }
.blackwhite.editing #left #name h1 {
  color: #171c36 !important; }
.blackwhite.editing #left .edit {
  background-color: white; }
.blackwhite.editing #left #syringe .dark {
  opacity: 1; }
.blackwhite.editing #left #syringe .light {
  opacity: 0; }
.blackwhite.editing #right .edit {
  background-color: #171c36; }
  .blackwhite.editing #right .edit #trial, .blackwhite.editing #right .edit #titleedit {
    color: white;
    background-color: #171c36; }
  .blackwhite.editing #right .edit .control > div > div:nth-of-type(1) {
    opacity: 0; }
  .blackwhite.editing #right .edit .control > div > div:nth-of-type(2) {
    opacity: 1; }
  .blackwhite.editing #right .edit .control p {
    color: white; }
.blackwhite.editing #right #postedit {
  background-color: white; }

.editing .edit {
  display: block !important; }
.editing #right .content {
  padding: 190px 15% 0px; }
.editing #right .edit #trial, .editing #right .edit .control {
  width: 100%;
  position: relative;
  padding: 0px 15%;
  height: 100%; }
.editing #right .edit #trial {
  font-family: u39;
  font-size: 51px;
  border: 0px;
  margin: auto;
  display: block;
  outline: 0px !important;
  padding: 64px 15%; }
.editing #right .edit .control {
  display: none; }
  .editing #right .edit .control > div {
    width: 65px;
    height: 65px;
    position: relative;
    float: left;
    margin: 60px 20px 60px 0px;
    cursor: pointer;
    overflow: hidden; }
    .editing #right .edit .control > div > div {
      position: absolute;
      height: 100%;
      width: 200%;
      top: 0px;
      background-size: 100%;
      background-image: url(../img/edit.svg); }
      .editing #right .edit .control > div > div:nth-of-type(1) {
        left: 0px; }
      .editing #right .edit .control > div > div:nth-of-type(2) {
        left: -100%; }
    .editing #right .edit .control > div p {
      opacity: 0;
      text-align: center;
      font-family: georgia;
      font-style: italic;
      font-size: 10px; }
  .editing #right .edit .control #save div {
    background-position: 0 0%; }
  .editing #right .edit .control #new div {
    background-position: 0 -100%; }
  .editing #right .edit .control #delete div {
    background-position: 0 -200%; }
  .editing #right .edit .control #return div {
    background-position: 0 -300%; }
  .editing #right .edit .control .really p {
    opacity: 1; }

.nowediting textarea {
  display: block !important;
  opacity: 1 !important; }

@media only screen and (max-width: 880px) {
  #left #title div span {
    width: 30%; }
  #left #title div h2 {
    width: 70%; }

  #right .content {
    padding: 63px 20px 0px; }
  #right #trial, #right .control {
    padding: 0px 20px !important; }
  #right #titleedit {
    width: 32%; }

  .read #left #syringe {
    height: 80px;
    width: 80px;
    margin: -40px 0px 0px 0px !important; } }
@media only screen and (max-width: 480px) {
  #left, #right {
    width: 100% !important; }

  #switch {
    left: initial !important;
    right: 0px;
    bottom: initial;
    width: 5px;
    height: 10px;
    margin: -5px 0px 0px; }
    #switch .target {
      top: 50%;
      left: initial;
      right: 0px;
      margin: -25px 0px 0px; }
    #switch .colour {
      left: 0px; }
    #switch .left {
      top: 0px; }
    #switch .right {
      top: 5px; }

  .start #left, .start #right {
    height: 50%; }
  .start #left #name {
    top: 150%;
    left: 50%; }
  .start #switch {
    top: 50%; }
  .start #right {
    top: 50%; }

  .read #left {
    height: 300px;
    padding-top: 0px; }
    .read #left #syringe, .read #left #name {
      width: 80px !important;
      height: 80px !important;
      left: 50% !important;
      margin: 0px 0px 0px -40px !important; }
    .read #left #syringe {
      top: 20px; }
    .read #left #name {
      top: 100px; }
    .read #left #title {
      top: 215px !important;
      padding-top: 70px; }
      .read #left #title:before, .read #left #title:after {
        display: block;
        content: '';
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -30px;
        border-radius: 60px;
        background-size: 200%;
        background-image: url(../img/menu.svg); }
      .read #left #title:before {
        background-position: 0px 0px;
        background-color: white; }
      .read #left #title:after {
        background-position: 100% 0px;
        background-color: #171c36; }
      .read #left #title div {
        display: none;
        height: 42px; }
      .read #left #title.open {
        height: initial !important;
        margin: 0px !important; }
        .read #left #title.open div {
          display: block; }
  .read #switch {
    top: 300px; }
  .read #right {
    height: initial;
    top: 300px; }
    .read #right .content {
      padding: 22px 20px;
      min-height: 500px; } }
@-moz-document url-prefix() {}
